html{
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
}
body{
  margin: 0 auto;
}
main{
  margin-top: 0 auto;
  margin-left: 360px;
  margin-right: 120px;
}
a{
  text-decoration: none;
}
.bgWhite{
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 40px 60px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
/* nav */
nav{
  background-color: #FFFFFF;
  border-radius: 50px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: fixed;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.navProfilView{
  margin-top: 40px;
}
.imgProfil{
  width: 78px;
}
.navMsg{
  font-weight: bold;
  font-size: 22px;
}
.navUserName{
  font-size: 16px;
}
.navView{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navSubTitle{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  margin: -10px 0px 40px 0px;
}
.navSubTitle2{
  text-align: left;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 60px 35px 0px;
}
.navLinkDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.barre{
  width: 220px;
  height: 2px;
  background-color: #707070;
  margin: 30px 0px;
}
.navLink{
  display: flex;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
  padding: 10px;
  border-radius: 12px;
  padding-left: 10px;
  margin: 0px 20px;
}
.navLink:hover{
  background-color: #588157;
  color: #FFFFFF;
}
.navImgLink{
  width: 18%;
  margin-right: 10px;
  margin-left: 20px;
}
.navLogout{
  display: flex;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
  padding: 10px;
  border-radius: 12px;
  padding-left: 10px;
  margin: 20px 10px 40px 20px;
}
.navLogout:hover{
  color: #BC1414;
}
.navImgLogout{
  width: 12%;
  margin-right: 10px;
  margin-left: 20px;
}
/* Page connexion */
.logoTop{
  display: flex;
  justify-content: start;
}
.logo{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.logo > a{
  display: flex;
  color: #4A4A4A;
  font-weight: 900;
  font-size: 2.5rem;
}
.logoImgTop{
  width: 16%;
  margin-right: 10px;
}
.logCenter{
  display: block;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 4px #dcdcdc;
  width: 55%;
  height: 45%;
  border-radius: 50px;
  padding: 40px;
}
.logSec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0px;
}
.LogDivImg{
  width: 45%;
  margin-right: 40px;
}
.logImg{
  width: 100%;
  height: auto;
}
.logFormSec{
  width: 50%;
}
.errorForm{
  color: #BC1414;
  font-weight: bold;
  text-align: center;
}
.logLabel{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}
.logInput{
  padding: 10px 20px;
  margin: 20px 20% 20px 0px;
  width: 80%;
  height: 30px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #DAD7CD;
  border: none;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.btn{
  padding: 1.5% 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: none;
  background-color: #A3B18A;
  box-shadow: 2px 2px 4px #dcdcdc;
  border-radius: 12px;
  margin: 20px 22%;
}
.btn:hover{
  background-color: #588157;
}
/* Page Accueil */
.indexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.indexContainer > h2{
  margin-right: 10%;
}
.indexBtnUserAllTop{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 40px;
}
.indexBtnUser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #A3B18A;
  box-shadow: 2px 2px 4px #dcdcdc;
  padding: 20px;
  border-radius: 16px;
  width: 15%;
  color: #4A4A4A;
  text-align: center;
}
.indexBtnUser:hover{
  background-color: #588157;
  color: #FFFFFF; 
}
.indexImgBtn{
  width: 100%;
}
.indexBtnUser > h4{
  width: 100%;
}
.indexCountBtn{
  font-size: 50px;
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.indexText{
  text-align: justify;
  margin-left: 20px;
}
.selec{
  background-color: #588157;
  color: #FFFFFF;
}
/* Page utilisateur */
.UserShowCount{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #DAD7CD;
  padding: 20px;
  border-radius: 16px;
  width: 15%;
  color: #4A4A4A;
  text-align: center;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.userFlex{
  display: flex;
  flex-wrap: wrap;
  width: 36.5%;
  margin-top: 32px;
}
.userFlex > h4{
  width: 100%;
  margin-left: 84%;
}
.userImgContain{
  width: 25%;
  margin-right: 20px;
}
.userImgProfil{
  width: 100%;
}
.userInfoFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.userInfoFlex > div{
  width: 100%;
  margin-bottom: 5px;
}
.unserFunc{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.userFuncShowProfil, .userFuncEditProfil, .userFuncDelProfil{
  color: #4A4A4A;
  font-weight: 900;
}
.userFuncShowProfil:hover{
  color: #007A08;
}
.userFuncEditProfil:hover{
  color: #2356BC;
}
.userFuncDelProfil:hover{
  color: #BC1414;
}
.userAddEmp{
  display: flex;
  justify-content: space-around;
  background-color: #A3B18A;
  color: #4A4A4A;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 16px;
}
.userAddEmp > img{
  width: 18%;
  margin-right: 10px;
}
.userAddEmp:hover{
  background-color: #588157;
  color: #FFFFFF;
}
.addUserSec{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 40px;
}
.addUserSizeImg{
  width: 40%;
}
.addUserSizeImg > img{
  width: 100%;
}
fieldset{
  border: none;
}
.addUserSizeForm{
  display: flex;
  width: 60%;
  align-self: center;
}
.addUserLabel{
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}
.addUserInput{
  padding: 10px 20px;
  margin: 20px 20% 20px 0px;
  width: 80%;
  height: 30px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #DAD7CD;
  border: none;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.btnDel{
  padding: 1.5% 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: none;
  background-color: #b18a8a;
  box-shadow: 2px 2px 4px #dcdcdc;
  border-radius: 12px;
  margin: 20px 0px;
  color: #4A4A4A;
  font-weight: bold;
}
.btnDel:hover{
  background-color: #815757;
}
.btnAddUser{
  color: #4A4A4A;
  font-weight: bold;
  padding: 1.5% 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: none;
  background-color: #A3B18A;
  box-shadow: 2px 2px 4px #dcdcdc;
  border-radius: 12px;
  margin: 20px 0px;
}
.btnAddUser:hover{
  background-color: #588157;
}
/* page forfait */
.forfaitTitre{
  width: 100%;
}
.addFroBtnFlexB{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* horaire */
.horaireLabel{
  font-weight: bold;
  width: 100%;
}
.btnChangeStat{
  padding: 1.5% 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: none;
  background-color: #5073b8;
  box-shadow: 2px 2px 4px #dcdcdc;
  border-radius: 12px;
  color: #ffffff;
  font-weight: bold;
}
.btnChangeStat:hover{
  background-color: #7e92bb;
}
.bgWhite2{
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 20px 40px;
  box-shadow: 2px 2px 4px #dcdcdc;
}
.formChangeStat{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
.flexPos{
  width: 25%;
  align-self: center;
}
.unserFuncChange{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
/* page docu */
.docContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.docContainer > h2{
  width: 100%;
}
.ducBtnAllTop{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 40px;
}
.docBtnTop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #A3B18A;
  box-shadow: 2px 2px 4px #dcdcdc;
  padding: 20px;
  border-radius: 16px;
  width: 15%;
  margin-right: 52px;
  color: #4A4A4A;
  text-align: center;
}
.docBtnTop:hover{
  background-color: #588157;
  color: #FFFFFF;
}
.hideContent{
  display: none;
}
.btnSchema{
  background-color: #588157;
  color: #FFFFFF;
}
#shemaShow > h1{
  width: 100%;
}
/* Page profil */
.titleProfil{
  width: 100%;
}
.profilInfo{
  width: 60%;
  text-align: center;
  margin-top: 10%;
}
.hide{
  display: none;
}

/*Documentation*/
.documentation h5{
  text-align: center;
  font-size: 42px;
  color: #588157;
}
.documentation h2{
  color: #BC1414; 
  border-bottom: 1px solid #BC1414;
}
.documentation h4, .documentation li{
  font-style: italic;
  color: #2356BC;
}