<main>
  <section class="logoTop">
    <article class="logo">
      <a href="/accueil">
        <img class="logoImgTop" src="/cms/images/pages/reglages.svg" alt="Logo CMS">
        <p>CMS</p>
      </a>
    </article>
  </section>
  <section class="logCenter">
    <article class="logSec">
      <div class="LogDivImg">
        <img class="logImg" src="/cms/images/pages/connexion.svg" alt="">
      </div>
      <form class="logFormSec" action="/cms/index" method="POST">
        <div class="errorForm">{{erreur}}Mauvais nom d'utilisateur ou mot de passe!</div>
        <label class="logLabel" for="email">Courriel:</label>
        <input type="email" id="email" name="email" class="logInput" placeholder="ex: jameswebb@gmail.com">
        <label class="logLabel" for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" class="logInput" placeholder="**********">
        <button class="btn" type="submit">Connexion</button>
      </form>
    </article>
  </section>
</main>
<style>
  nav {
    display: none;
  }

  main {
    margin-top: 0 auto;
    margin: 40px;
  }
</style>