<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/cms/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
    rel="stylesheet">
  <title>{{title}}</title>
</head>

<body>
  <header>
    <nav>
      <article class="navProfilView">
        <img class="imgProfil" src="/cms/images/nav/010-profile.svg" alt="image profil">
        <p class="navMsg">Bonjour</p>
        <p class="navUserName">{{ admin.name }}</p>
      </article>
      <article class="navView">
        <div class="navSubTitle">Outils d'admin</div>
        <div class="navLinkDiv">
          <a id="accueilBTN" class="navLink" href="/"><img class="navImgLink" src="/cms/images/nav/016-homebl.svg"
              alt="accueil">Accueil</a> <br>
          <a id="userBTN" class="navLink" href="/utilisateur-p"><img class="navImgLink"
              src="/cms/images/nav/010-profilebl.svg" alt="utilisateur">Utilisateur</a> <br>
          <a id="forfaitBTN" class="navLink" href="/forfait"><img class="navImgLink" src="/cms/images/nav/tag.svg"
              alt="forfait">Forfaits</a>
          <br>
          <a id="horaireBTN" class="navLink" href="/horaire"><img class="navImgLink"
              src="/cms/images/nav/015-calendarbl.svg" alt="horaire">Horaires</a>
        </div>
        <div class="barre"></div>
        <div class="navSubTitle2">Référence</div>
        <div class="navLinkDiv">
          <a id="docBTN" class="navLink" href="/documentation"><img class="navImgLink"
              src="/cms/images/nav/informationsbl.svg" alt="documentation">Documentation</a>
        </div>
      </article>
      <article>
        <a class="navLogout" href="/logout"><img class="navImgLogout" src="/cms/images/nav/logout.svg"
            alt="se déconnecter">Se déconnecter</a>
      </article>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>

  </footer>
  <script src="/cms/javascript/script.js"></script>
</body>

</html>