<section class="logoTop">
  <article class="logo">
    <a href="/">
      <img class="logoImgTop" src="/cms/images/pages/reglages.svg" alt="Logo CMS">
      <p>CMS</p>
    </a>
  </article>
</section>
<section class="indexContainer">
  <h1>Ajout d'un employé</h1>
  <article class="addUserSec bgWhite">
    <div class="addUserSizeImg">
      <img src="/cms/images/pages/cleaning-staff.svg" alt="image employé">
    </div>
    <form class="addUserSizeForm" action="/add-employe" method="POST">
      <fieldset class="addUserFild">
        <label class="addUserLabel" for="addUserLastName">Nom:</label>
        <input class="addUserInput" id="addUserLastName" name="nom" type="text" placeholder="ex: Webb" required>
        <label class="addUserLabel" for="addUserFirstName">Prénom:</label>
        <input class="addUserInput" id="addUserFirstName" name="prenom" type="text" placeholder="ex: James" required>
        <label class="addUserLabel" for="addUserEmail">Courriel:</label>
        <input class="addUserInput" id="addUserEmail" name="courriel" type="text" placeholder="ex: jameswebb@gmail.com"
          required>
      </fieldset>
      <fieldset>
        <label class="addUserLabel" for="addUserCodeP">Code postal:</label>
        <input class="addUserInput" id="addUserCodeP" name="adresse" type="text" placeholder="ex: G5C 1J6" required>
        <label class="addUserLabel" for="addUserNumT">Numéro de téléphone:</label>
        <input class="addUserInput" id="addUserNumT" name="telephone" type="text" placeholder="ex: (418) 000-0000"
          required>
        <div>
          <input class="addUserInput hide" id="empStatus" name="etat" type="text" value="Disponible" required>
          <div>
            <button class="btnAddUser" type="submit">Confirmer</button>
            <a href="/employe" class="btnDel">Annuler</a>
          </div>
      </fieldset>
    </form>
  </article>
</section>
<script>
  document.onload = selec()
  function selec() { document.getElementById('userBTN').style.backgroundColor = "#588157"; document.getElementById('userBTN').style.color = "#FFFFFF" }
</script>