<section class="logoTop">
    <article class="logo">
        <a href="/">
            <img class="logoImgTop" src="/cms/images/pages/reglages.svg" alt="Logo CMS">
            <p>CMS</p>
        </a>
    </article>
</section>
<section class="docContainer">
    <h2>Documentation</h2>
    <article class="ducBtnAllTop">
        <div id="btnSchema" class="docBtnTop selec">
            <img class="indexImgBtn" src="/cms/images/pages/workflow.svg" alt="Image particulier">
            <h4>Schéma API</h4>
        </div>
        <div id="btnDoc" class="docBtnTop">
            <img class="indexImgBtn" src="/cms/images/pages/informations.svg" alt="Image entreprise">
            <h4>Documentation API</h4>
        </div>
    </article>
    <article id="shemaShow" class="indexBtnUserAllTop bgWhite">
        <h1>Shéme de l'API</h1>
        <img src="/cms/images/pages/diagramme_API_Faitmonmenage.jpg" alt="image shéma API">
    </article>
    <article id="docShow" class="hideContent indexBtnUserAllTop bgWhite documentation">
        <h5>DATABASE : faitmonmenage</h5>
        <div>
            <h2>Page Connexion</h2>
            <p>C’est la page qui permet à l’administrateur de s’authentifier avec son courriel et mot de passe,
                l'administrateur unique est : root@root, mais il peut ajouter d’autres sous-administrateurs qui auront
                les mêmes accès et fonctionnalités.</p>
            <h4>Collection Admin :</h4>
            <ul>
                <li>Nom : String</li>
                <li>Email : String</li>
                <li>Mot_de_passe : String</li>
            </ul>
            <h4>CRUD :</h4>
            <ul>
                <li>Connexion : POST ('/login', cmsController.loginAdmin)</li>
                <li>Ajouter un administrateur : POST ('/add-admin', admincontroller.addAdmin)</li>
                <li>Déconnexion : GET ('/logout', auth, admincontroller.logout)</li>
            </ul>
        </div>
        <div>
            <h2>Page Accueil</h2>
            <p>C’est la page principale dans laquelle l’administrateur a une vue d’ensemble sur les particuliers,
                entreprises, employés et forfaits avec des liens vers ceux-ci.</p>
        </div>
        <div>
            <h2>Page utilisateur</h2>
            <p>C’est une page qui permet d’avoir l’accès aux rubriques suivantes: </p>
            <h3>Utilisateurs particuliers et utilisateurs entreprises</h3>
            <p>Comme l'utlisateur peut créer son profil, le modifier et le supprimer dans le site web. L'administrateur
                a les mêmes fonctionnalités, cette rubrique permet d’ajouter, modifier ou supprimer les utilisateurs
                existants.</p>
            <h4>Collection utilisateurs</h4>
            <ul>
                <li>Nom : String</li>
                <li>Prénom : String </li>
                <li>Courriel : String </li>
                <li>Mode_de_passe : String </li>
                <li>Adresse postale : String</li>
                <li>téléphone : String</li>
            </ul>
            <h4>CRUD :</h4>
            <ul>
                <li>Afficher tous les utilisateurs particuliers et entreprises : GET ('/utilisateur', auth,
                    employeController.utilisateur)</li>
                <li>Afficher les utilisateurs particuliers : GET ('/utilisateur-p', auth, employeController.particulier)
                </li>
                <li>Afficher les utilisateurs entreprises : GET ('/utilisateur-e', auth, employeController.entreprise)
                </li>
                <li>Ajouter un utilisateur: GET('/utilisateur-add', auth, admincontroller.addUser) -
                    POST('/utilisateur-add', auth, admincontroller.addUser)</li>
                <li>Modifier les informations d’un utilisateur selectionné par le ID : GET('/utilisateur-edit/:id',
                    auth, admincontroller.editUser) - POST('/utilisateur-edit/:id', auth, admincontroller.updateUser)
                </li>
                <li>Supprimer un utilisateur selectionné par le ID : GET ('/utilisateur/delete/:id', auth,
                    employeController.deleteUtilisateurByid) - POST('/utilisateur/delete/:id', auth,
                    employeController.deleteUtilisateurByid)</li>
            </ul>
        </div>
        <div>
            <h3>Employés</h3>
            <p>Cette rubrique permet d’ajouter, modifier ou supprimer des employés, l'état par défaut d'un nouveau
                employé est : disponible</p>
            <h4>Collection Employé</h4>
            <ul>
                <li>Nom : String</li>
                <li>Prénom : String</li>
                <li>Courriel : String</li>
                <li>Adresse postale : String</li>
                <li>Téléphone : String</li>
                <li>État : String</li>
            </ul>
            <h4>CRUD :</h4>
            <ul>
                <li>Afficher les employés : GET ('/employe', auth, employeController.getEmployes)</li>
                <li>Ajouter un employé : POST ('/add-employe', auth, employeController.addOneEmploye)</li>
                <li>Modifier les informations d’un employé selectionné par le ID : GET ('/employe/editemploye/:id',
                    auth, employeController.getEmployeByid) - POST('/employe/editemploye/:id', auth,
                    employeController.updateEmploye)</li>
                <li>Supprimer un employé selectionné par le ID : GET ('/employe/delete/:id', auth,
                    employeController.deleteEmployeByid) - POST('/employe/delete/:id', auth,
                    employeController.deleteEmployeByid)</li>
            </ul>
        </div>
        <div>
            <h2>Page Forfaits</h2>
            <p>Cette page permet à l’administrateur de gérer les forfaits pour les utilisateurs qui ont des profils
                particuliers. Les forfaits disponibles dans le site web sont : une par mois ; une fois par semaine ;
                deux fois par semaine ; une fois par jour.</p>
            <h4>Collection forfait</h4>
            <ul>
                <li>Recurrence : String</li>
                <li>frequance: String</li>
            </ul>
            <h4>CRUD : </h4>
            <ul>
                <li>Afficher tous les forfaits : GET ('/forfait', auth, employeController.forfait)</li>
                <li>Ajouter un forfait : GET ('/addforfait', auth, forfaitController.addforfait) - POST ('/add-forfait',
                    auth, forfaitController.addUnforfait)</li>
                <li>Modifier le forfait : GET ('/forfait-edit', function(req, res, next) {
                    res.render('cms/edit-content/editforfait', { title: "Faitmonmenage | Éditer forfait" })</li>
                <li>Supprimer un forfait selectionné par le ID: GET ('/forfait/delete/:id', auth,
                    forfaitController.deleteForfaitByid) - POST('/forfait/delete/:id', auth,
                    forfaitController.deleteForfaitByid)</li>
            </ul>
        </div>
        <div>
            <h2>Page horaires</h2>
            <p>Cette page permet de changer le statut des employés, les rendre disponible ou indisponible. Pour faire,
                il faut selectionner l'employé désiré et lui cocher le statut convenable.</p>
            <ul>
                <li>Afficher l'horaire de l'employé : GET ('/horaire', auth, employeController.gethoraireEmployes)</li>
                <li>Mofidier l'horaire de l'employé selectionné par le ID : POST ('/horaire/:id', auth,
                    employeController.updateHoraire)</li>
            </ul>
        </div>
    </article>
</section>
<script>
    document.onload = selec()
    function selec() { document.getElementById('docBTN').style.backgroundColor = "#588157"; document.getElementById('docBTN').style.color = "#FFFFFF" }
</script>