<section class="logoTop">
  <article class="logo">
    <a href="/">
      <img class="logoImgTop" src="/cms/images/pages/reglages.svg" alt="Logo CMS">
      <p>CMS</p>
    </a>
  </article>
</section>
<section class="indexContainer">
  <h1>Ajout d'un forfait</h1>
  <article class="addUserSec bgWhite">
    <div class="addUserSizeImg">
      <img src="/cms/images/pages/031-money-bag.svg" alt="image employé">
    </div>
    <form class="addUserSizeForm" action="/forfait/editeforfait/{{forfaits.id}}" method="POST">
      <fieldset>
        <label class="addUserLabel" for="addForfaitRecurrence">Récurrence:</label>
        <input class="addUserInput" id="addForfaitRecurrence" name="recurrence" type="number" placeholder="ex: 1 fois"
          required value="{{forfaits.recurrence}}">
        <label class="addUserLabel" for="addForfaitFrequence">Fréquence:</label>
        <input class="addUserInput" id="addForfaitFrequence" name="frequence" type="text" placeholder="ex: par Semaine"
          required value="{{forfaits.frequence}}">
        <div class="addFroBtnFlexB">
          <a href="/forfait/editforfait/{{forfaits.id}}"></a><button class="btnAddUser"
            type="submit">Confirmer</button></a>
          <a href="/forfait" class="btnDel">Annuler</a>
        </div>
      </fieldset>
    </form>
  </article>
</section>
<script>
  document.onload = selec()
  function selec() { document.getElementById('forfaitBTN').style.backgroundColor = "#588157"; document.getElementById('forfaitBTN').style.color = "#FFFFFF" }
</script>